@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
        to top left, 
        #D703FF 10%, 
        #8200FF 30%, 
        #343434 50%, 
        #212121 100%
    );
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
}
