@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(23 23 23/ 0.8);
}
.switch {
  position: relative;
  width: 200px;
  height: 90px;
  box-sizing: border-box;
  padding: 3px;
  background: #0d0d0d;
  border-radius: 99px;
  box-shadow:
    inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
    0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.switch input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.switch input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 50%;
  height: 100%;
  background: #1b1c1c;
  border-radius: 99px;
  transition: all 0.5s ease-in-out;
}
.switch input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow:
    0 0 5px 2px rgba(165, 15, 15, 0.9),
    0 0 3px 1px rgba(165, 15, 15, 0.9);
  transition: all 0.5s ease-in-out;
}

.switch input[type="checkbox"]:checked + label {
  left: 50%;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.switch input[type="checkbox"]:checked + label:before {
  box-shadow:
    0 0 5px 2px rgba(15, 165, 70, 0.9),
    0 0 3px 1px rgba(15, 165, 70, 0.9);
}

/* карточки */


:root {
  --space: 1rem;
  --bg: #09090b;
  --fg: #e3e3e3;
  --surface-1: #101012;
  --surface-2: #27272a;
  --surface-3: #52525b;
  --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}


main {
  display: flex;
  /* grid-template-columns: repeat(var(--count, 1), 1fr); */
  gap: var(--space);
  margin: auto;
  /* inline-size: 30px; */
  /* margin-top: 100px; */
  position: absolute;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;

  /* @media (min-width: 25rem) {
    --count: 2;
    --max: 30rem;
  } */

  /* @media (min-width: 45rem) {
    --count: 4;
    --max: 60rem;
  } */
}

.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  aspect-ratio: 4/5;
  border: 1px solid var(--surface-2);
  isolation: isolate;
  transition: border-color 200ms var(--ease-out);
  user-select: none;
  width: 100px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at bottom left, transparent 55%, var(--surface-1));
  pointer-events: none;
  box-shadow: var(--bg) -0.5cqi 0.5cqi 2.5cqi inset;
  transition: opacity 900ms var(--ease-out);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, var(--bg), transparent 65%);
  opacity: 0;
  transition: opacity 800ms var(--ease-out);
}

.card > * {
  grid-area: card;
}

.card svg {
  position: relative;
  z-index: 1;
  width: 30%;
  height: auto;
  color: var(--surface-3);
  transition: 300ms var(--ease-out);
  transition-property: color, scale;
}

.card button {
  opacity: 0;
}

.card.lit {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.card.lit,
.card.lit {
  border-color: var(--active-color, var(--fg));
  transition: border-color 800ms var(--ease-in-out);
}

.card.lit svg,
.card.lit svg {
  color: var(--active-color, var(--fg));
  scale: 1.1;
  transition: 300ms var(--ease-in-out);
}

.card.lit::before,
.card:focus-within::before {
  opacity: 0;
}

.card.lit::after,
.card.lit::after {
  opacity: 1;
}


